# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Config files
*.env
*.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Build artifacts
dist/
build/
*.egg-info/

# Pytest cache
.pytest_cache/

# Gradle build files
.gradle/
build/

# Additional directories
.Trash*/
./Trash*/
